:root {
    --primary-color: #f38020;
    --secondary-color: #282a2d;
    --font-family: 'figtree', sans-serif;
    --heading-font: 'Labrada', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .dark-mode {
    background-color: #14151a;
    color: #f5f5f5;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202124;
    padding: 20px;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 24px;
    text-decoration: none;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    margin: 20px;
  }
  
  h1, h2 {
    font-family: var(--heading-font);
    text-align: center;
    color: #f5f5f5;
    }
    
    .post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
    }
    
    .post-item {
    background-color: var(--secondary-color);
    padding: 20px;
    transition: all 0.3s ease-in-out;
    }
    
    .post-item:hover {
    background-color: var(--primary-color);
    }
    
    .post-link {
    text-decoration: none;
    }
    
    .post-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #f5f5f5;
    }
    
    .post-excerpt {
    margin: 0;
    font-size: 16px;
    color: #f5f5f5;
    }
    
    .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .footer-links a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
    }
    
    .footer-links a:hover {
    text-decoration: underline;
    }
    
    footer {
    background-color: #202124;
    text-align: center;
    padding: 20px;
    }
    
    footer p {
    margin: 0;
    font-size: 14px;
    }
  